@font-face {
    font-family: 'Telegraf';
    src: url('Telegraf/Telegraf-Regular.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('Neue_Machina/NeueMachina-Regular.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Scope';
    src: url('Scope/Scope.woff2') format('woff2'),
         url('Scope/Scope.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
